/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.root {
  align-items: center;
}

.img {
  margin: 0 auto 31px;
}

.title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 21px;
}

.subtitle {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-tertiary);
}

.actions {
  margin-top: 20px;
  margin-bottom: 28px;
  display: inline-block;
}

.footer {
  margin: 28px auto 0;
  border-top: var(--border-primary);
  padding-top: 28px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.footer_item + .footer_item {
  margin-left: 40px;
}
