/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.root {
  padding: 32px;
  width: 100%;
  overflow: auto;
}

.headerBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--n-border-primary);
}

.headerText {
  font: var(--font-main-h5);
}

.consumptionBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.consumptionEmpty {
  font: var(--font-main-h5);
  color: var(--n-text-secondary);
  text-align: center;
}

.consumptionCardTotal {
  font: var(--font-main-h2);
}

.consumptionCardValue {
  font: var(--font-main-h4);
}

.consumptionCardSub {
  font: var(--font-main-small);
  color: var(--n-text-sub);
}

.middleBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 18px;
}

.middleBlockItem {
  flex: 1;
}

.middleBlockItemHeader {
  padding: 14px 0;
  font: var(--font-main-h5);
  border-bottom: 1px solid var(--n-border-primary);
}

.middleBlockCard {
  padding: 18px 16px;
  margin-top: 16px;
  background-color: var(--n-bg-secondary);
  border-radius: 8px;
}

.billingEmail {
  font: var(--font-main-body);
}

.invoicesBlock {
  margin-top: 32px;
}

.invoicesBlockHeader {
  padding: 8px 0;
  font: var(--font-main-h5);
  border-bottom: 1px solid var(--n-border-primary);
  margin-bottom: 16px;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

td.pdfColumn {
  width: 0;
}
