/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.root {
  display: inline-flex;
  align-items: center;
}

.container {
  width: 80px;
  height: 8px;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--bg-secondary);
}

.bar {
  height: 8px;
}

.bar.primary {
  background-color: var(--bg-highlight-secondary);
}

.text {
  font-weight: 600;
  margin-left: 12px;
}
