/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* stylelint-disable */
:global {
  .rdtPicker td.rdtActive {
    background-color: var(--cloudrock-green);
    color: var(--text-primary);
    border-radius: 50%;
    height: 30px;
  }

  .rdtPicker td.rdtActive::before {
    display: none;
  }

  .rdtPicker td.rdtActive:hover {
    background-color: var(--cloudrock-green);
    color: var(--text-primary);
  }

  .rdtPicker .rdtDay {
    border-radius: 50%;
    height: 30px;
  }

  .rdtPicker .dow {
    color: var(--grey-6);
  }
  .rdtPicker .rdtDay.rdtOld {
    color: var(--grey-6);
  }
}
