/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.confirmation {
  width: 468px;
}

.confirmation_title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 17px;
}

.confirmation_row + .confirmation_row {
  margin-top: 14px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}
