/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.root {
  overflow: hidden;
  text-transform: uppercase;
  margin: 32px 0 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.root::before,
.root::after {
  content: '';
  flex: 1;
  flex-basis: 10px;
  border-top: var(--border-primary);
}

.root::before {
  margin-right: 8px;
}

.root::after {
  margin-left: 8px;
}

.actions {
  display: flex;
  align-items: center;
}

.actionItem {
  flex-basis: 10px;
  flex-grow: 1;
}

.actionItem + .actionItem {
  margin-left: 20px;
}
