/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.ProjectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProjectsPlaceholder {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ProjectsPlaceholderCard.Card {
  min-width: 600px;
  box-shadow: 0 0 0 2px var(--bg-warning_700);
  min-height: 425px;
  display: flex;
  padding: 24px;
}
