/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.root {
  display: flex;
  gap: 4px;
  align-items: center;
}

.item {
  font: var(--font-main-h5);
  color: var(--text-primary);
}

.item_link {
  text-decoration: none;
}

.item_link:hover {
  text-decoration: underline;
}

.divider {
  font: var(--font-main-h5);
  color: var(--n-text-divider);
}
